body {
  text-align: center;
  /* background-color: rgb(9, 77, 54); */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: goldenrod;
}
p {
  color: white;
}

button {
  background-color: rgba(203, 46, 29, 0.627);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  font-weight: 500;
}
#new-game {
  background-color: rgb(21, 74, 21);
}

.container {
  width: 50%;
  padding: 30px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
