body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

/* 

green color : #5f9341

*/
input {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #5f9341;
}

button {
  background-color: #5f9341;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #5f9341;
}

#dlt-btn {
  background-color: white;
  color:black ;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

li {
  margin-top: 5px;
}

a {
  color: #5f9341;
}
